/* Board overlay */
.board-wrap {
  position: relative;
  display: inline-block;
}
.arrow-overlay {
  position: absolute;
  top: 0;
  left: 12px;
  width: 400px;
  height: 400px;
  pointer-events: none;
  z-index: 2;
}
.arrow-overlay canvas {
  display: block;
}

/* Chess board specific styles */
.board {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  -webkit-user-select: none;
  margin-left: -12px;
  position: relative;
  z-index: 1;
}
.row {
  display: table-row;
  clear: both;
}
.row > .rank {
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 12px;
  color: gray;
}
.files {
  display: table-row;
  text-align: center;
}
.files > .corner {
  display: table-cell;
  width: 12px;
}
.files > .file {
  font-size: 12px;
  font-family: sans-serif;
  display: table-cell;
  width: 50px;
  height: 1em;
  color: gray;
}
.file > span {
  margin: 0px auto;
}
.square {
  display: table-cell;
  position: relative;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.square.odd {
  background-color: var(--square-light, #f0d9b5);
}
.square.even {
  background-color: var(--square-dark, #b58863);
}
.square.selected {
  background-color: #829769;
  opacity: 0.9;
}
.square.suggested {
  background-color: var(--square-light, #f0d9b5);
}
.square.suggested::after {
  content: "";
  position: absolute;
  inset: 14px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.22);
  pointer-events: none;
}
.square.suggested.attacked {
  background-color: var(--square-light, #f0d9b5);
}
.square.suggested.attacked::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2px;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.35) 85%);
  pointer-events: none;
}
.square.move-from {
  background-color: #829769;
}
.square.move-to {
  background-color: #cdd26a;
}
.square.check {
  box-shadow: inset 0 0 0 3px #e53935;
}
.square.checkmate {
  box-shadow: inset 0 0 0 3px #8e24aa;
}
.square.undefended {
  outline: 2px dashed #ef6c00;
  outline-offset: -3px;
}
.square.pinned {
  box-shadow: inset 0 0 0 3px #3949ab;
}
.status-icons {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  pointer-events: none;
}
.status-icon {
  width: 14px;
  height: 14px;
}
.status-pin {
  color: #3949ab;
}
.status-undefended {
  color: #ef6c00;
}
.status-check {
  color: #e53935;
}

@font-face {
  font-family: 'open-chess';
  src: url(/fonts/OpenChessFont.ttf);
}
@font-face {
  font-family: 'chess-master';
  src: url(/fonts/chessmaster.ttf);
}
@font-face {
  font-family: 'chessvetica-white';
  src: url(/fonts/Chessvetica-Outlined.woff2) format('woff2');
}
@font-face {
  font-family: 'chessvetica-black';
  src: url(/fonts/Chessvetica-Regular.woff2) format('woff2');
}

.piece {
  display: block;
  position: absolute;
  font-size: var(--piece-font-size, 50px);
  line-height: 50px;
  font-family: var(--piece-font, 'chess-master');
  cursor: pointer;
  margin-left: var(--piece-offset-x, 0px);
  margin-top: var(--piece-offset-y, 0px);
  box-sizing: border-box;
}
.piece.black {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.piece.white {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.piece.checkmate {
  text-shadow: 0 0 8px rgba(229, 57, 53, 0.9);
  filter: drop-shadow(0 0 6px rgba(229, 57, 53, 0.9));
}

.piece.black.chessvetica {
  font-family: "Chessvetica-Black" !important;
}
.piece.white.chessvetica {
  font-weight: bold;
  font-family: "Chessvetica-White" !important;
}

.piece.chessvetica.pawn {
  margin-top: 2px !important;
}
